body{
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 1.42;
	background: #001821;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{
	color: inherit;
}
ul{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
*{
	box-sizing: border-box;
}
p{
	margin-top: 0;
}

.main-page-wrapper{
	background: url("../img/bg/hero.jpg") center top no-repeat, url("../img/bg/bottom-pic.jpg") right bottom 150px no-repeat;
}
.container{
	margin: 0 auto;
	width: 1140px;
}
.header{
	height: 76px;
	position: relative;
	margin-bottom: 130px;
}
.logo{
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
}
.menu{
	position: absolute;
	top: 29px;
  left: 163px;
}
.menu__item{
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px;
}
.menu__item--active .menu__link{
	color: #DA0100;
}
.menu__item:last-child{
	margin-right: 0;
}
.menu__link{
	font-size: 14px;
	text-decoration: none;
}
.menu__link:hover{
	color: #DA0100;
}
.contacts{
	font-style: normal;
	position: absolute;
	top: 15px;
	right: 0;
	text-align: right;
}
.contacts__desc{
	color: #9a9a9a;
	font-size: 11px;
}
.contacts__phone{
	text-decoration: none;
	font-size: 26px;
	margin-bottom: 5px;
}
.contacts__dropdown-title{
	font-size: 13px;
	text-decoration-line: underline;
	color: #98A4A8;
}
.contacts__dropdown-title:hover{
	color: #fff;
}
.hero{
	margin-bottom: 242px;
}
.hero__text-section{
	width: 520px;
}
.hero__title{
	font-size: 72px;
	font-weight: bold;
	line-height: 1.26;
  margin-bottom: 23px;
}
.hero__subyitle{
	font-size: 18px;
	margin-bottom: 33px;
}
.btn{
	background: #F5170E;
	border-radius: 35px;
	padding: 18px 40px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
.btn:hover{
	background: #da0100;
}
.section{
	margin-bottom: 132px;
}
.section__title{
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 48px;
}
.section__title-text{
	display: inline-block;
	vertical-align: middle;
	min-width: 266px;
}
.section__title-icon{
	display: inline-block;
	vertical-align: middle;
}
.tours__item{
	min-height: 440px;
	border-radius: 6px;
	background: #fff;
	color: #000;
	display: inline-block;
	margin-right: 25px;
	width: 360px;
	overflow: hidden
}
.tours__item:last-child{
	margin-right: 0;
}
.tours__header{
	background: #303030;
	height: 141px;
}
.tours__content{
	padding: 23px 20px;
}
.tours__title{
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 18px;
}
.tours__mode{
	color: #666666;
	margin-left: 7px;
	margin-bottom: 20px;
}
.tours__mode-days {
	display: inline-block;
	vertical-align: middle;
}
.tours__mode-days-icon-wrapper {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}
.tours__mode-days-icon .tours__mode-breakfast-icon{
	vertical-align: middle;
}
.tours__mode-days-text{
	display: inline-block;
	text-align: center;
	margin-right: 33px;
}
.tours__mode-breakfast{
	display: inline-block;
	vertical-align: middle;
}
.tours__mode-breakfast-icon-wrapper{
	display: inline-block;
	vertical-align: middle;
}
.tours__mode-breakfast-text{
	display: inline-block;
	text-align: center;
}
.tours__text{
	font-size: 14px;
	margin-bottom: 26px;
	line-height: 21px;
}
.btn--color--white{
	background: #fff;
	border: 1px solid #f5170e;
	color: #f5170e;
}
.btn--color--white:hover {
	background:#f5170e;
	color: #fff;
}
.btn--size--small{
	padding: 15px 29px;
}
.news__item{
	width: 552px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 51px;
	margin-right: 30px;
}
.news__item:last-child{
	margin-right: 0;
}
.news__cover{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news__text-content{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 25px 30px;
	min-height: 167px;
}
.news__date{
	font-size: 14px;
	margin-bottom: 22px;
}
.news__title{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 17px;
}
.news__desc{
	font-size: 16px;
}
.pager{
	text-align: center;
	margin-bottom: 151px;
}
.pager__display,.pager__list{
	display: inline-block;
	vertical-align: middle;
}
.pager__display{
	margin-right: 26px;
}
.pager__item{
	display: inline-block;
	vertical-align: middle;
}
.pager__item--active .pager__link{
	background: #fff;
	color: #f5170e;
	}
.pager__link{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
}
.about:before, .about__info{
	display: inline-block;
	vertical-align: top;
}
.about:before {
	content: "";
	width: 488px;
	height: 502px;
	background: url("../img/decor/background-back.jpg") center center / cover no-repeat;
	border-radius: 5px;
	overflow: hidden;
}

.about__info{
	background: url("../img/decor/background-front.jpg") center center / cover no-repeat;
	padding: 67px 96px;
	width: 780px;
	min-height: 454px;
	margin-left: -133px;
	margin-top: 108px;
	border-radius: 5px;
	overflow: hidden;
}
.about__title{
	color: #000;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 28px;
}
.about__info-text{
	color: #303030;
	line-height: 27px;
	margin-bottom: 41px;
}
.about__info-text p{
	margin-bottom: 20px;
}
.about__info-text p:last-child{
	margin-bottom: 0;
}
.footer-container__container{
	border-top: 1px solid #ffffff;
	opacity: 0.1;
	margin-top: -88px;
  padding-top: 25px;
}

.footer{
	height: 113px;
	position: relative;
}
.socials{
	position: absolute;
	top: 24px;
	right: 265px;
}
.socials__item{
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.socials__item:last-child{
	margin-right: 0;
}
.socials__link{
	display: block;
	text-decoration: none;
	width: 36px;
	height: 36px;
	background: center center no-repeat;
}
.socials__item--icon--telegram{
	background-image: url("../img/icons/socials/t.png");
}
.socials__item--icon--telegram:hover{
	background-image: url("../img/icons/socials/t2.png");
}
.socials__item--icon--vk{
	background-image: url("../img/icons/socials/vk.png");
}
.socials__item--icon--vk:hover{
	background-image: url("../img/icons/socials/vk2.png");
}
.socials__item--icon--fb{
	background-image: url("../img/icons/socials/f.png");
}
.socials__item--icon--fb:hover{
	background-image: url("../img/icons/socials/f2.png");
}
.socials__item--icon--insta{
	background-image: url("../img/icons/socials/in.png");
}
.socials__item--icon--insta:hover{
	background-image: url("../img/icons/socials/in2.png");
}