
.header{
	padding-top: 22px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}
.header__col{
	display: flex;
	align-items: center;
}
.header__col--aling--right{
	justify-content: flex-end;
}

