.hero__container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 530px;
}

.hero{
	margin-bottom: 246px;
}
.hero__text-section{
	width: 45%;
}
.hero__title{
	font-size: 72px;
	font-weight: bold;
	line-height: 1.26;
  margin-bottom: 22px;
}
.hero__subyitle{
	font-size: 18px;
	margin-bottom: 33px;
}