.partners{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.partners__item{
	flex-basis: 24%;
	display: flex;
	margin-bottom: 70px;
	filter: grayscale(1);
}
.partners__item:hover{
	filter: grayscale(0);
	transition: .3s;
}

.partners__item:nth-child(4n+1){
	justify-content: flex-start;
}
.partners__item:nth-child(4n){
	justify-content: flex-end;
}

