
.service{
	margin-bottom: 68px;
}
.services__item{
	display: flex;
}
.services__img{
	width: 40%;
	margin-right: 5%;
	padding-top: 50px;
}
.services__content{
	padding-top: 62px;
	flex: 1;
}
.services__title{
	font-size: 36px;
	font-weight: 700;
	color: #000;
	margin-bottom: 28px;
}
.services__desc{
	line-height: 27px;
	margin-bottom: 29px;
}

