.socials-wrapper{
	margin-right: 74px;
}
.socials__list{
	display: flex;
}
.socials__item{
	display: flex;
	margin-right: 10px;
}
.socials__item:last-child{
	margin-right: 0;
}

.socials__link{
	height: 36px;
	width: 36px;
	border-radius: 50%;
	position: relative;
}
.socials__link:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 36px;
	width: 36px;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.socials__link:before{
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 36px;
	width: 36px;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .3s;
}

.socials__item--icon--telegram .socials__link:after {
	background: url(./../../img/icons/socials/css_sprites.png) -10px -10px;
}
.socials__item--icon--telegram .socials__link:before{
	background: url(./../../img/icons/socials/css_sprites.png) -66px -10px;
}
.socials__item--icon--vk .socials__link:after{
	background: url(./../../img/icons/socials/css_sprites.png) -122px -10px;
}
.socials__item--icon--vk .socials__link:before{
	background: url(./../../img/icons/socials/css_sprites.png) -178px -10px;
}
.socials__item--icon--fb .socials__link:after{
	background: url(./../../img/icons/socials/css_sprites.png) -234px -10px;
}
.socials__item--icon--fb .socials__link:before{
	background: url(./../../img/icons/socials/css_sprites.png) -290px -10px;
}
.socials__item--icon--insta .socials__link:after{
	background: url(./../../img/icons/socials/css_sprites.png) -346px -10px;
}
.socials__item--icon--insta .socials__link:before{
	background: url(./../../img/icons/socials/css_sprites.png) -402px -10px;
}

.socials__link:hover:after {
	opacity: 0;
}
.socials__link:hover:before {
	opacity: 1;
}