.socials-wrapper{
	margin-right: 74px;
}
.socials__list{
	margin: 0;
	padding: 0;
	display: inline-block;
}
.socials__item{
	display: inline-block;
	width: 36px;
	height: 36px;
	background-size: auto;
	background-repeat: no-repeat;
	margin-right: 6px;
	opacity: 0.5;
}
.socials__item:hover{
	opacity: 1;
}
.socials__item:last-of-type{
	margin-right: 0;
}
.socials__item--icon--telegram{
	background-image: url(../img/icons/socials/t.png);
}
.socials__item--icon--telegram:hover{
	background-image: url(../img/icons/socials/t2.png);
}
.socials__item--icon--vk{
	background-image: url(../img/icons/socials/vk.png);
}
.socials__item--icon--vk:hover{
	background-image: url(../img/icons/socials/vk2.png);
}
.socials__item--icon--fb{
	background-image: url(../img/icons/socials/f.png);
}
.socials__item--icon--fb:hover{
	background-image: url(../img/icons/socials/f2.png);
}
.socials__item--icon--insta{
	background-image: url(../img/icons/socials/in.png);
}
.socials__item--icon--insta:hover{
	background-image: url(../img/icons/socials/in2.png);
}
.socials__link{
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-indent: 102%;
	white-space: nowrap;
}